aiohttp
aiosignal
altair
annotated-types
anyio
asttokens
attrs
azure-ai-ml
azure-ai-textanalytics
azure-common
azure-core
azure-identity
azure-mgmt-core
azure-search
azure-search-documents
azure-storage-blob
azure-storage-file-datalake
azure-storage-file-share
beautifulsoup4
blinker
blis
bson
cachetools
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
cryptography
cymem
dataclasses-json
decorator
Deprecated
dirtyjson
distro
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
executing
faiss-cpu
filelock
Flask
Flask-Cors
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-auth
googleapis-common-protos
greenlet
h11
httpcore
httpx
huggingface-hub
idna
isodate
itsdangerous
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langcodes
langsmith
language_data
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mpmath
msal
msal-extensions
msrest
multidict
murmurhash
mypy-extensions
nest-asyncio
networkx
nltk
numpy
oauthlib
ollama
openai
opencensus
opencensus-context
opencensus-ext-azure
opencensus-ext-logging
orjson
packaging
pandas
parso
pexpect
pillow
portalocker
preshed
prompt_toolkit
proto-plus
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydash
pydeck
Pygments
PyJWT
pypdf
PyPDF2
python-dateutil
python-dotenv
pytz
PyYAML
referencing
regex
requests
requests-oauthlib
rich
rpds-py
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shellingham
six
smart-open
smmap
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stack-data
streamlit
strictyaml
striprtf
sympy
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
toml
toolz
torch
tornado
tqdm
traitlets
transformers
typer
typing-inspect
typing_extensions
tzdata
urllib3
wasabi
wcwidth
weasel
Werkzeug
wrapt
yarl
